{% extends 'chef/chef_base.html' %}
{% block head_files %}

<!-- include codemirror (codemirror.css, codemirror.js, xml.js, formatting.js) -->
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.min.css" />
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/theme/monokai.min.css" />
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/mode/xml/xml.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/2.36.0/formatting.min.js"></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.6.16/summernote.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.6.16/summernote.min.js"></script>
{% endblock %}

{% block admin_content %}
  <div class="row">
    <form action="" method="post" accept-charset="utf-8">
      {{ form.hidden_tag() }}
      <div class="form-group">
         <label for="name">Meal Name:</label>
         {{ form.name(class="form-control")}}
       </div>
      <div class="form-group">
         <label for="description">Description:</label>
         <textarea class="form-control" id="description" name="description" autocomplete="off">{{ form.description.data or '' }}</textarea>
       </div>
        <div class="form-group">
         <label for="zip_codes">Zip Codes:</label>
         {{ form.zip_codes(class="form-control", placehold='Zip Code，多个zip code请用","分开')}}
       </div>
       <div class="form-group">
         <label for="begin_date">Begin Date:</label>
         {{ form.begin_date(class="form-control", placehold='开始时间')}}
       </div>
        <div class="form-group">
         <label for="end_date">End Date:</label>
         {{ form.end_date(class="form-control", placehold='结束时间')}}
       </div>
      <button type="submit" class="btn btn-primary"> 保存 </button>
    </form>
  </div>
{% endblock %}

{% block script_files %}
<script>
$(document).ready(function() {
  $('#description').summernote(
    {height: 300,   //set editable area's height

    codemirror: { // codemirror options
      theme: 'monokai'
    }});
});
</script>

{% endblock %}
