{% extends 'chef/chef_base.html' %}

{% block admin_content %}
<div class="row">
    <ul class="list-group">
        <li class="list-group-item">
            Client：{{order.client.nickname or order.client.email}}
        </li>
        <li class="list-group-item">
            Meal Name：{{order.meal.name}}
        </li>
        <li class="list-group-item">
            Order Status：{{order.status}}
        </li>
        <li class="list-group-item">
            Address：{{order.address}}
        </li>
        <li class="list-group-item">
            Phone：{{order.phone}}
        </li>
        <li class="list-group-item">
            Message：{{order.message}}
        </li>
        <li class="list-group-item">
            Order Date Time：{{order.create_date.strftime('%Y-%m-%d %H:%M:%S')}}
        </li>
    </ul>
    <form action="" method="post" accept-charset="utf-8">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="status">Status:</label>
            {{ form.status(class="form-control")}}
        </div>
        <button type="submit" class="btn btn-primary"> 保存</button>
    </form>
</div>
{% endblock %}