{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-2">

      <div class="panel panel-default">
        <div class="panel-heading">管理员后台</div>
        <ul class="list-group">
          <li class="list-group-item"><a href="{{url_for('admin.meals', order_status='all')}}">所有Meal</a></li>
          <li class="list-group-item"><a href="{{url_for('admin.apply_list', apply_status='all')}}">所有Apply</a></li>
        </ul>
      </div>

    </div>

    <div class="col-md-10">
     {% block admin_content %} {% endblock %}
    </div>

  </div>
</div>

{% endblock %}